<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
		<title>Url Shortner</title>
		<style>
			html, body {
				height: 100vh;
				min-height: 600px; 
			}
		</style>
	</head>
	<body>
		<div style="min-height: 100%" class="container d-flex justify-content-center align-items-center">
			<div class="text-center">
				<h1 class="mb-3">Squeeze those long URLs !!</h1>
				<form id="form">
					<div class="form-group">
					   <input 
					   	type="text" 
					   	name="url" 
					   	class="form-control form-control-lg text-center" 
					   	id="urlInput" 
					   	placeholder="Enter the URL here..." 
					   />
					   <div class="invalid-feedback">
				 			Wront url
				      </div>
					</div>
					<button class="btn btn-success" type="submit">Squeeze URL !</button>
				</form>
				<div id="shortenedUrlContainer" class="mt-5 d-none">
					<p class="lead">Here is your shortened URL</p>
					<div class="input-group mb-3">
  						<p id="shortenedUrl" class="form-control text-left">something</p>
  						<div class="input-group-append">
    						<button id="copyBtn" class="btn btn-outline-primary" type="button">Copy</button>
  						</div>
					</div>
					<p id="copySuccess" class="text-center text-success d-none">Copied !</p>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			window.onload = function() {
				const form = document.querySelector("#form");
				const urlInput = form.querySelector("#urlInput");
				const shortenedUrlContainer = document.querySelector("#shortenedUrlContainer");
				const shortenedUrl = document.querySelector("#shortenedUrl");
				const copyBtn = document.querySelector("#copyBtn");
				const copySuccess = document.querySelector("#copySuccess");
				
				form.addEventListener("submit", function(e) {
					e.preventDefault();
					console.log("submitting form");
					let data = {
						url: urlInput.value
					}

					axios.post("/api/urls", data).then(res => console.log(res.data));
				})
			}
		</script>
	</body>
</html>